html
    head
        include head.pug
        title Landingpage

    body.clr-bg-main
        include header.pug
        block content
            .w-full.flex.justify-center.overflow-hidden(class='h-[92%]')
                .flex.flex-wrap.rounded-lg.items-center.justify-center(class='w-[99%] h-[100%]').clr-bg-sec
                    .overflow-hidden.rounded-lg.flex.flex-wrap.justify-center.items-center(class='w-[90%] h-5/6').clr-bg-main
                        .w-full.flex.justify-center.items-center.text-center
                            a(href='/')
                                img(src='./images/logohighres.png')
                        .w-full.flex.justify-center.items-center.text-center
                            h1.text-4xl Editorpagina Stichting Kunstenaarsdorp Zweeloo
                        .w-full.flex.justify-center.items-center.text-center
                            h1.text-2xl Welkom op de landingspagina voor Stichting Kunstenaarsdorp Zweeloo.