html
    head
        include head.pug
        title Inloggen

    body.h-full.clr-bg-main(class='border-[20px] clr-border-sec')
        include header.pug
        block content
            .w-full.flex.flex-col.justify-center.py-12.px-8.overflow-y-auto(class='h-[calc(100%-4rem)] md:px-32')
                .w-full.flex.justify-center
                    .justify-center(class="w-1/2").clr-bg-sec.px-16.py-8
                        script.
                            let message = "#{status}";
                        script(src="/scripts/swal.js")

                        h1.text-4xl.font-bold.mb-5 Log In

                        form(method="post" action="/auth/login")
                            label.font-bold.block(for="email") Email
                            input.py-2.px-4.mb-4.w-full(name='email' type='email' placeholder='Email...' required autofocus )

                            label.font-bold.block(for="password") Wachtwoord
                            input.py-2.px-4.mb-4.w-full(name='password' type='password' placeholder='Wachtwoord...' required autocomplete='current-password')

                            button(type="submit").btn.mt-4 Log In