html
    head
        include head.pug
        title index

    body.clr-bg-main(class='border-[20px] clr-border-sec')
        include header.pug
        block content
            .w-full.flex.flex-col.py-12.px-8.overflow-y-auto(class='h-[calc(100%-4rem)] md:px-32')
                .px-16
                    h1.text-4xl.font-bold.mb-5 Profile
                    .grid.text-sm(class='md:grid-cols-2').gap-x-16
                        .flex.my-1.justify-between
                            label.py-2(for="first_name") First Name
                            input(value=user.first_name class='w-1/2').px-4.py-2.rounded-lg#first_name
                        .flex.my-1.justify-between
                            label.py-2(for="last-name") Last Name
                            input(value=user.last_name class='w-1/2').px-4.py-2.rounded-lg#last_name
                        .flex.my-1.justify-between
                            label.py-2(for="email") Email
                            input(value=user.email class='w-1/2').px-4.py-2.rounded-lg#email
                        .flex.my-1.justify-between
                            label.py-2(for="created_at") Created at
                            input.px-4.py-2.rounded-lg(value= new Date(user.created_at).toLocaleString() class='w-1/2')#created_at
                        .flex.my-1.justify-between
                            label.py-2(for="updated_at") Updated at
                            input.px-4.py-2.rounded-lg(value= new Date(user.updated_at).toLocaleString() class='w-1/2')#updated_at
                .line