html
    head
        include head.pug
        title route-selection

    body.h-full.clr-bg-main(class='border-[20px] clr-border-sec')
        include header.pug
        block content
            .w-full.flex.flex-col.py-12.px-8.overflow-y-auto(class='h-[calc(100%-4rem)] md:px-32')
                .px-16.flex.flex-row
                    div(class="basis-5/6")
                        h1.text-4xl.font-bold.mb-5 Routes
                    .border-2.flex.justify-center.items-center(class="basis-1/6")
                        a Voeg route toe
                .line
                - console.log(routes[1])
                - for(let i = 0; i < routes.length; i ++)
                    .flex.flex-row.self-center.m-3.clr-border-sec.border-2(class="w-5/6")
                        .place-content-center.flex-initial.m-1(class="basis-1/6")
                            p #{routes[i].name}
                        .flex-initial.m-1.text-clip(class="basis-4/6 ...")
                            p #{routes[i].description}
                        .flex-initial.m-1(class="basis-1/12")
                            a Bewerken
                        .flex-initial.m-1(class="basis-1/12") 
                            a Verwijderen
                    

                