html
    head
        include head.pug
        title index


    body.h-full.clr-bg-main(class='border-[20px] clr-border-sec')
        include header.pug
        block content
            .w-full.flex.flex-col.py-12.px-8.overflow-y-auto(class='h-[calc(100%-4rem)] md:px-32')
                .px-16.w-full
                    script.
                        let message = "#{status}";
                    script(src="/scripts/swal.js")

                    h1.text-4xl.font-bold.mb-5 Bezienswaardigheid informatie toevoegen - 3

                    .flex.gap-2
                        .h-screen.overflow-y-auto.scroll-clr(class="w-1/4")
                            each feature in route.route.features
                                if feature.geometry.type === "Point"
                                    a.block.clr-border-sec.clr-bg-main.clr-border-sec.border-4.w-full.mb-1.text-center(class="h-[3rem]" href="") test

                        .h-screen.clr-border-sec.border-4(class="w-3/4")

                .line
