html
    head
        include head.pug
        title route-selection

    body.h-full.clr-bg-main(class='border-[20px] clr-border-sec')
        include header.pug
        block content
            .w-full.flex.flex-col.py-12.px-8.overflow-y-auto(class='h-[calc(100%-4rem)] md:px-32')
                .px-16.flex.flex-row
                    div(class="basis-5/6")
                        h1.text-4xl.font-bold.mb-5 Routes
                    .flex.justify-center.items-center(class="basis-1/6")
                        a.btn(href='/route-editor') Voeg route toe
                .line
                - console.log(routes[1])
                - for(let i = 0; i < routes.length; i ++)
                    .flex.flex-row.self-center.m-3(class="w-5/6")
                        .p-2(class="basis-5/6")
                            .p-1
                                p.text-2xl #{routes[i].name}
                            .my-4.clr-acc-red.h-1.w-16.mx-1
                            .p-1
                                p.text-ellipsis.block.overflow-hidden(class="h-[6em]") #{routes[i].description}
                        .p-1.flex.justify-center.flex-col(class="basis-1/6")
                            .mx-4.my-2.text-center
                                a.btn.w-40.block(href='') Bewerken
                            .mx-4.my-2.text-center
                                a.btn.w-40.block.btn-delete(href='') Verwijderen
                    .line
