html
    head
        include head.pug
        title login
        script(src='/scripts/settings.js' type='module' defer)

    body.clr-bg-main
        include header.pug
        block content
            .w-full.flex.justify-center.overflow-hidden(class='h-[92%]')
                .flex.flex-wrap.rounded-lg.items-center.justify-center(class='w-[99%] h-[100%]').clr.bg-sec
                    .flex.overflow-hidden.rounded-lg.justify-center.items-center(class='w-[40%] h-4/6').clr-bg-main
                        .flex.items-center.justify-center
                            div
                                form(action='/settings' method='POST')
                                    label.block.mb-2.text-sm.font-medium(for='contenttype') Select a content type for requests
                                    select#contenttype.my-5.bg-gray-50.border.border-gray-300.text-gray-900.text-sm.rounded-lg.block.w-full(name='content_type' class='focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')
                                        option(value='JSON') JSON
                                        option(value='XML') XML

                                    input(type='submit' value='Submit').px-4.py-2.my-5.rounded.bg-blue.text-white.inline-block.shadow-lg.clr-acc-blue#settings_button